    <div class="row">
        <div class="col">
            <div class="card text-bg-danger mb-3">
            <div class="card-header">Error</div>
            <div class="card-body">
                <p>{{errMsg}}</p>
                <a href="{{backUrl}}" class="btn btn-warning">Volver</a>
            </div>
            </div>
        </div>
    </div>


